{% extends 'template.html.twig' %}

{% block page %}

    <table id="listeEtudiant" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Login</th>
            <th>Mot de passe</th>
            <th>Mail</th>
            <th>Promo</th>
            <th>Groupe</th>
            <th>Blacklist</th>
            <th></th>

        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Login</th>
            <th>Mot de passe</th>
            <th>Mail</th>
            <th>Promo</th>
            <th>Groupe</th>
            <th>Blacklist</th>
            <th></th>
        </tr>
        </tfoot>

        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.NOM }}</td>
                <td>{{ etudiant.PRENOM }}</td>
                <td>{{ etudiant.LOGIN }}</td>
                <td>{{ etudiant.MDP }}</td>
                <td>{{ etudiant.MAIL }}</td>
                <td>{{ etudiant.PROMO }}</td>
                <td>{{ etudiant.GROUPE }}</td>
                <td>{{ etudiant.BLACKLIST }}</td>
                <td>
                    <form action="" method="POST">
                        <input type="text" class="form-control hidden" value="{{ materiel.ID }}" name="idEtudiant">
                        {% if etudiant.BLACKLIST == 0 %}
                            <button type="submit" name="blacklist"><i class="fa fa-user-times" aria-hidden="true"></i></button>
                        {% endif %}
                        {% if etudiant.BLACKLIST == 1 %}
                            <button type="submit" name="permit"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}