{% extends 'template.html.twig' %}

{% block page %}

    <table id="listeEtudiant" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th class="hidden-mobile">Mail</th>
            <th class="hidden-mobile">Promo</th>
            <th class="hidden-mobile">Groupe</th>
            <th class="hidden-mobile">Blacklist</th>
            <th></th>

        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th class="hidden-mobile">Mail</th>
            <th class="hidden-mobile">Promo</th>
            <th class="hidden-mobile">Groupe</th>
            <th class="hidden-mobile">Blacklist</th>
            <th></th>
        </tr>
        </tfoot>

        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.NOM }}</td>
                <td>{{ etudiant.PRENOM }}</td>
                <td class="hidden-mobile">{{ etudiant.MAIL }}</td>
                <td class="hidden-mobile">{{ etudiant.PROMO }}</td>
                <td class="hidden-mobile">{{ etudiant.GROUPE }}</td>
                <td class="hidden-mobile">{{ etudiant.BLACKLIST }}</td>
                <td>
                    <form action="" method="POST">
                        <input type="text" class="form-control hidden" value="{{ etudiant.ID }}" name="idEtudiant">
                        {% if etudiant.BLACKLIST == 0 %}
                            <button type="submit" name="blacklist"><i class="fa fa-user-times" aria-hidden="true"></i></button>
                        {% endif %}
                        {% if etudiant.BLACKLIST == 1 %}
                            <button type="submit" name="permit"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}